{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="icon" type="image/png" href="{{ asset('front/login/images/icons/favicon.ico') }}" />

    <link rel="stylesheet" type="text/css" href="{{ asset('front/login/vendor/bootstrap/css/bootstrap.min.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ asset('front/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ asset('front/login/fonts/iconic/css/material-design-iconic-font.min.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ asset('front/login/vendor/animate/animate.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ asset('front/login/vendor/css-hamburgers/hamburgers.min.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ asset('front/login/vendor/animsition/css/animsition.min.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ asset('front/login/vendor/select2/select2.min.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ asset('front/login/vendor/daterangepicker/daterangepicker.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ asset('front/login/css/util.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ asset('front/login/css/main.css') }}">

    <!--     Fonts and icons     -->
    <link href="{{ asset('https://fonts.googleapis.com/css?family=Montserrat:400,700,200') }}" rel="stylesheet" />
    <link href="{{ asset('https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css') }}" rel="stylesheet">
    <!-- CSS Files -->
    <link href="{{ asset('back/assets/css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('back/assets/css/paper-dashboard.css?v=2.0.1') }}" rel="stylesheet" />
{% endblock %}


{% block body %}
    <div style="background-color: #fff5e8;padding-top:8%;padding-left:8%;padding-right:8%;display: flex;flex-direction: column;border-radius: 30px;box-shadow: 0 0 2em hsl(231deg 62% 94%);">
        <div style ="user-select: none;overflow-y: hidden;display: flex;justify-content: center;align-items: center;background-color: #fff5e8;height: 100vh;">
            <bodyDiv style="height:100%;width:100%;font-family: Acme, serif;min-width:700px;display: flex;justify-content: center;">
                <div style="height:100%;width:100%; display: flex;justify-content: center;">
                    <div class="col-md-6" >
                        <div class="card card-user" >
                            <div class="card-header" >
    <h1>Reset your password</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-outline-danger">Reset password</button>
    {{ form_end(resetForm) }}
            </div>
                        </div>
                    </div>
                </div>
        </bodyDiv>
    </div>
</div>
{% endblock %}
