{% extends 'back.html.twig' %}

{% block title %}list Users{% endblock %}

{% block body %}

    <table border ="1" id="t" class="table table-hover table-dark">
        <thead class="thead-dark">
        <tr>
            <td > name</td>
            <td >last name</td>
            <td >email</td>
            <td >picture</td>
            <td >password</td>
            <td >role</td>
            <td >status</td>
        </tr>
        </thead>
        <tbody id="all">
        {% for user in users %}
            <tr>

                <td>

                    {{ user.nameuser }}

                </td>
                <td>

                    {{ user.lastnameuser }}

                </td>
                <td>

                    {{ user.emailuser }}

                </td>
                <td>

                    {{ user.profilepicuser }}

                </td>
                <td>

                    {{ user.passworduser }}

                </td>
                <td>

                    {{ user.userrole }}

                </td>
                <td>

                    {{ user.userstatus }}

                </td>
                {#
                <td>
                <a href="{{ path('updateStudent', {'id': student.id}) }}"> modifier</a>
                <a href="{{ path('deleteStudent', {'id': student.id}) }}"> supprimer</a>
                   </td>
                #}

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}