<!DOCTYPE html>
<html>

<head>
    {% block stylesheets %}
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- favicon -->
        <link rel="shortcut icon" type="image/png" href="{{ asset('front/assets/img/favicon.png') }}">
        <!-- google font -->
        <link href="{{ asset('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700') }}" rel="stylesheet">
        <link href="{{ asset('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap') }}" rel="stylesheet">
        <!-- fontawesome -->
        <link rel="stylesheet" href="{{ asset('front/assets/fonts/font-awesome-4.7.0/css/font-awesome.css') }}">
        <!-- bootstrap -->
        <link rel="stylesheet" href="{{ asset('front/assets/bootstrap/css/bootstrap.min.css') }}">
        <!-- owl carousel -->
        <link rel="stylesheet" href="{{ asset('front/assets/css/owl.carousel.css') }}">
        <!-- magnific popup -->
        <link rel="stylesheet" href="{{ asset('front/assets/css/magnific-popup.css') }}">
        <!-- animate css -->
        <link rel="stylesheet" href="{{ asset('front/assets/css/animate.css') }}">
        <!-- mean menu css -->
        <link rel="stylesheet" href="{{ asset('front/assets/css/meanmenu.min.css') }}">
        <!-- main style -->
        <link rel="stylesheet" href="{{ asset('front/assets/css/main.css') }}">
        <!-- responsive -->
        <link rel="stylesheet" href="{{ asset('front/assets/css/responsive.css') }}">
        <link rel="icon" type="image/png" href="{{ asset('front/assets/images/icons/favicon.ico') }}"/>
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('front/assets/vendor/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('front/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="f{{ asset('front/assets/fonts/iconic/css/material-design-iconic-font.min.css') }}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('front/assets/vendor/animate/animate.css') }}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('front/assets/vendor/css-hamburgers/hamburgers.min.css') }}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('front/assets/vendor/animsition/css/animsition.min.css') }}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('front/assets/vendor/select2/select2.min.css') }}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('front/assets/vendor/daterangepicker/daterangepicker.css') }}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('front/assets/css/util.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('front/assets/css/main.css') }}">



    {% endblock %}


    {% block javascripts %}
        <script>
            /*  ==========================================
                SHOW UPLOADED IMAGE
            * ========================================== */
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#imageResult')
                            .attr('src', e.target.result);
                    };
                    reader.readAsDataURL(input.files[0]);
                }
            }
            $(function () {
                $('#upload').on('change', function () {
                    readURL(input);

                });
           });
        </script>
        <script src="{{ asset('back/assets/js/core/jquery.min.js') }}"></script>
        <script src="{{ asset('back/assets/js/core/popper.min.js') }}"></script>
        <script src="{{ asset('back/assets/js/core/bootstrap.min.js') }}"></script>
        <script src="{{ asset('back/assets/js/plugins/perfect-scrollbar.jquery.min.js') }}"></script>
        <!--  Google Maps Plugin    -->
        <script src="{{ asset('https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE') }}"></script>
        <!-- Chart JS -->
        <script src="{{ asset('back/assets/js/plugins/chartjs.min.js') }}"></script>
        <!--  Notifications Plugin    -->
        <script src="{{ asset('back/assets/js/plugins/bootstrap-notify.js') }}"></script>
        <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
        <script src="{{ asset('back/assets/js/paper-dashboard.min.js?v=2.0.1') }}" type="text/javascript"></script>
        <script src="{{ asset('app.js') }}"></script>

    {% endblock %}


<!--   Core JS Files   -->

</head>
<body>
<!-- header -->
{% block header %}
<div class="top-header-area" id="sticker">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 text-center">
                <div class="main-menu-wrap">
                    <!-- logo -->
                    <div class="site-logo">
                        <a class="site-logo" style="color: #FF8C00;"> <img src= "{{ asset('uploads/profilepics/LoginPicture.png') }}"style="width:50px;height:40px;">EFood</a>
                    </div>
                    <!-- logo -->
                    <!-- menu start -->
                    <nav class="main-menu">
                        <ul>
                            <li class="current-list-item"><a href="#">Home</a></li>
                            <li class="current-list-item"><a href="#">About</a></li>
                            <li class="current-list-item"><a href="#">Restaurants</a>
                                <ul class="sub-menu">
                                    <li><a href="#l">Our Restaurants</a></li>
                                    <li><a href="#">Our Menus</a></li>
                                </ul>
                            </li>
                            <li class="current-list-item"><a href="#">Contact</a></li>
                            <li class="current-list-item"><a href="#">Order</a>
                                <ul class="sub-menu">
                                    <li><a href="#">Order</a></li>
                                    <li><a href="#">Check Out</a></li>
                                    <li><a href=#">Single Product</a></li>
                                    <li><a href="#">Cart</a></li>
                                </ul>
                            </li>
                                    {% if is_granted('ROLE_USER') %}
                                   <li> <a aria-hidden="true"> <i class="fa fa-user fa-fw"></i> {{app.user.nameuser}}</a>
                                   <ul class="sub-menu">
                                        <li><a class="dropdown-item" href="{{ path('app_profile') }}"><i class="fa fa-user fa-fw"></i> Profile </a> </li>
                                        <li> <a class="dropdown-item" href="{{ path('app_user_edit', {id: app.user.iduser}) }}"><i class="fa fa-pencil"></i> Edit Account </a></li>
                                        <li><a class="shopping-cart" href="#"><i class="fa fa-shopping-cart"></i> Cart </a></li>
                                        <li> <a class="mobile-hide search-bar-icon" href="#"><i class="fa fa-search"></i> Search </a></li>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <li><a href="{{ path('app_admin') }}"><i class="fa fa-dashboard" ></i> Dashboard </a></li>
                                    {% endif %}
                                        <li><a class="dropdown-item" href="{{ path('app_logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a> </li>
                                    {% else %}
                                        <li> <a aria-hidden="true"> <i class="fa fa-user fa-fw"></i> </a>
                                            <ul class="sub-menu">
                                                <li> <a class="dropdown-item" href="{{ path('app_login') }}"><i class="fa fa-sign-in"></i> Login </a></li>
                                                <li> <a class="dropdown-item" href="{{ path('app_createAccount') }}"><i class="fa fa-user-plus"></i> Sign Up </a></li>
                                            </ul>
                                        </li>
                                        </ul>
                                        </li>
                                    {% endif %}
                        </ul>
                    </nav>
                    <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                    <div class="mobile-menu"></div>
                    <!-- menu end -->
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- end header -->

    <!-- search area -->
    <div class="search-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <span class="close-btn"><i class="fas fa-window-close"></i></span>
                    <div class="search-bar">
                        <div class="search-bar-tablecell">
                            <h3>Search For:</h3>
                            <input type="text" placeholder="Keywords">
                            <button type="submit">Search <i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end search area -->

{% endblock %}


{{ flasher_render() }}


{% block body %}
{% endblock %}

{% block footer %}
<div class="list-section pt-80 pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div class="list-box d-flex align-items-center">
                    <div class="list-icon">
                        <i class="fa fa-truck"></i>
                    </div>
                    <div class="content">
                        <h3>Free Shipping</h3>
                        <p>When order over 100 Tunisian Dinars</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div class="list-box d-flex align-items-center">
                    <div class="list-icon">
                        <i class="fa fa-phone"></i>
                    </div>
                    <div class="content">
                        <h3>24/7 Support</h3>
                        <p>Get support all day</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="list-box d-flex justify-content-start align-items-center">
                    <div class="list-icon">
                        <i class="fa fa-handshake-o"></i>
                    </div>
                    <div class="content">
                        <h3>Refund</h3>
                        <p>Get refund!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-box about-widget">
                    <h2 class="widget-title">About us</h2>
                    <p> We are not just another online food delivery shop! </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box get-in-touch">
                    <h2 class="widget-title">Get in Touch</h2>
                    <ul>
                        <li>34/8, Esprit, Ariana, Tunisie.</li>
                        <li>efoodappproject@gmail.com</li>
                        <li>+216 93682046</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box pages">
                    <h2 class="widget-title">Pages</h2>
                    <ul>
                        <li><i class="fa fa-home" ></i><a href="#"> Home </a></li>
                        <li><i class="fa fa-comment-o" aria-hidden="true"></i><a href="#"> About </a></li>
                        <li><i class="fa fa-shopping-cart" aria-hidden="true"></i><a href="#"> Shop </a></li>
                        <li><i class="fa fa-star-o" aria-hidden="true"></i><a href="#"> News </a></li>
                        <li><i class="fa fa-address-book" aria-hidden="true"></i><a href="#"> Contact </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box subscribe">
                    <h2 class="widget-title">Subscribe</h2>
                    <p>Subscribe to our mailing list to get the latest coupons and sales.</p>
                    <form  action="#" >
                        <input type="email" placeholder="Email">
                        <button type="submit" value="Submit" name="Submit"><i class="fa fa-paper-plane"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-right col-md-12">
                <div class="social-icons">
                    <ul>
                        <li><a href="https://facebook.com/" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
                        <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://tlinkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://dribble.com/" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

</body>
</html>
