{% extends 'base.html.twig' %}

{% block stylesheets %}
    {#{{ encore_entry_link_tags('app') }}#}
{% endblock %}
{% block body %}

    <!-- product section -->
    <div class="product-section mt-150 mb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="section-title">
                        <h3><span class="orange-text">Our</span> Products</h3>
                    </div>
                </div>
            </div>
            {% for c in listP %}
            <div class="row">
                <div class="col-lg-4 col-md-6 text-center">
                    <form action=" {{  path('cart_add') }}" method="get">
                    <div class="single-product-item">
                        <div class="product-image">
                            <a href="single-product.html"><img src="{{ asset('images/' ~ c.image) }}" alt=""></a>
                        </div>
                        <h3> {{ c.name }}</h3>
                        <p class="product-price"><span>{{ c.id }}</span>
                            {{ c.price }} $ </p>
                       <input type="submit" class="cart-btn" value="Add to Cart" />
                    </div>
                    </form>


                </div>


            </div>
            {% endfor %}
        </div>
    </div>
    <!-- end product section -->

{% endblock %}