{{ form_start(form) }}
  {{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}

    {{ form_row(form.imgOffre ,
        { 'attr':
            {
                'placeholder': '...',
                'accept':'file',
                'onchange':'readURL(this);',
            }
        }) }}

</tr>

</tr>
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
