{% extends 'base.html.twig' %}

{% block body %}
<div style="padding:8%;background: hsl(213deg 85% 97%);display: flex;flex-direction: column;border-radius: 30px;box-shadow: 0 0 2em hsl(231deg 62% 94%);background-color: #fff5e8;">
    <div style ="user-select: none;overflow-y: hidden;display: flex;justify-content: center;align-items: center;background-color: #fff5e8;height: 100vh;">
        <bodyDiv style="height:100%;width:100%;font-family: Acme, serif;min-width:700px;">
            <div style="height:100%;width:100%;display:inline-block">
                <div class="content">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card card-user">
                                <div class="image">
                                    <img src="back/assets/img/damir-bosnjak.jpg" alt="...">
                                </div>
                                <div class="card-body">
                                    <div class="author">
                                        <a href="#">
                                            <img class="avatar border-gray" src="uploads/profilepics/{{app.user.profilepicuser}}" alt="...">
                                            <h5 class="title">{{ app.user.nameuser }} {{ app.user.lastnameuser }}</h5>
                                        </a>
                                        <p class="description">
                                            {{ app.user.emailuser }}
                                        </p>
                                    </div>
                                    <p class="description text-center" id="showresulthere">
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <hr>
                                    <div class="button-container">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-6 col-6 ml-auto">
                                                <h5>2 Meals <br><small>Ordered</small></h5>
                                            </div>
                                            <div class="col-lg-4 col-md-6 col-6 ml-auto">
                                                <h5>2 Coupons<br><small>Used</small></h5>
                                            </div>
                                            <div class="col-lg-4 mr-auto">
                                                <h5>24 Dinars<br><small>Spent</small></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-8">
                            <div class="card card-user">
                                <div class="card-header">
                                    <h5 class="card-title">Edit Profile</h5>
                                </div>
                                <div class="card-body">
                                    <form>
                                        <div class="card-body">
                                            <div class="author">
                                                <a href="#">
                                                    <img class="avatar border-gray" src="uploads/profilepics/{{app.user.profilepicuser}}" alt="...">
                                                </a>
                                            </div>
                                        <div class="row">
                                            <div class="col-md-5 pr-1">
                                                <div class="form-group">
                                                    <label>Email (change disabled)</label>
                                                    <input type="text" class="form-control" disabled="" placeholder="Email" value={{ app.user.emailuser }}>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 pr-1">
                                                <div class="form-group">
                                                    <label>First Name</label>
                                                    <input type="text" class="form-control" placeholder="First Name" value={{ app.user.nameuser }}>
                                                </div>
                                            </div>
                                            <div class="col-md-6 pl-1">
                                                <div class="form-group">
                                                    <label>Last Name</label>
                                                    <input type="text" class="form-control" placeholder="Last Name" value={{ app.user.lastnameuser }}>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Address</label>
                                                    <input type="text" class="form-control" placeholder="Address"  value="El Ghazela, Tunisia">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="col-md-4 pr-1">
                                                <div class="form-group">
                                                    <label>New Password</label>
                                                    <input type="text" class="form-control" placeholder="Password" value=>
                                                </div>
                                            </div>
                                            <div class="col-md-4 px-1">
                                                <div class="form-group">
                                                    <label>Password Confirmation</label>
                                                    <input type="text" class="form-control" placeholder="Password Confirmation" value=>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">

                                                    <label>About Me</label>
                                                    <input class="form-control textarea" type="text" id="willbeshown" value="">
                                                    <button  class="btn btn-primary btn-round"onclick="showResult(document.getElementById('willbeshown'))">Update Profile<a class="dropdown-item" href="{{ path('app_user_edit', {id: app.user.iduser}) }}"> </a></button>
                                                    <script>
                                                        function showResult(elem) {
                                                            document.getElementById("showresulthere").innerHTML = document.getElementById("willbeshown").value;
                                                        }
                                                    </script>
                                                    <button class="btn btn-primary btn-round" onclick="return confirm('Are you sure you want to delete your account permanently?');">Delete Account <a href="{{ path('app_user_delete', {id: app.user.iduser}) }}"> </a>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
           </bodyDiv>
            </div>
    </div>
{% endblock %}
